<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Recipes</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap"
            rel="stylesheet"
        />
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="/styles/style.css" />
        <link rel="stylesheet" href="/styles/tailwind.css" />
    </head>

    <body>
        <header class="flex h-16 items-center justify-between gap-2">
            <a
                href="/"
                class="h-12 flex-none dark-red text-white flex justify-center items-center m-2 p-2 rounded-xl w-48"
            >
                LOGO
            </a>
            {{#if logged_in}}
            <a
                href="/profile"
                class="h-12 dark-red text-white text-center m-2 p-2 rounded-xl w-48 font-thin text-xl truncate hover:shadow-xl transition-shadow duration-300"
            >
                Profile
            </a>
            <button
                class="h-12 dark-red text-white text-center m-2 p-2 rounded-xl w-48 font-thin text-xl truncate hover:shadow-xl transition-shadow duration-300"
                id="logout"
            >
                Log Out
            </button>
            {{else}}
            <a
                href="/login"
                class="h-12 dark-red text-white text-center m-2 p-2 rounded-xl w-48 font-thin text-xl truncate hover:shadow-xl transition-shadow duration-300"
            >
                Sign Up or Log In
            </a>
            {{/if}}
        </header>
        <div class="w-[100%]">
            <form class="flex flex-1 justify-between items-center">
                <input
                    type="text"
                    id="search"
                    class="m-2 ml-4 mr-4 sm:mr-2 h-12 flex-1 p-2 rounded-xl text-lg"
                    placeholder=""
                />
                <button
                    class="hidden sm:flex h-12 flex-initial ml-0 p-2 rounded-xl bg-white w-12 items-center justify-center hover:shadow-xl transition-shadow duration-300 mr-4"
                >
                    <img src="/svg/search.svg" alt="Search" />
                </button>
            </form>
        </div>
        <main>{{{body}}}</main>
        <!-- Render script for logged in users only -->
        {{#if logged_in}}
        <script src="./js/logout.js"></script>
        {{/if}}
    </body>
</html>
