<div class="w-[100%] flex flex-col gap-1 items-center p-1 md:p-4">
    <div class="red rounded-2xl p-4 px-12 text-3xl text-white font-thin">
        Breakfast
    </div>
    <div
        class="hidden w-full sm:flex flex-col orange m-4 rounded-2xl p-8 gap-4"
    >
        <a
            href=""
            class="bg-white rounded-2xl h-48 flex items-center justify-between hover:shadow-xl transition-shadow duration-300 px-4"
        >
            <div class="flex justify-between items-center gap-10 w-fit">
                <img
                    src="https://www.wholesomeyum.com/wp-content/uploads/2017/03/wholesomeyum-Low-Carb-Keto-Pancakes-Recipe-21.jpg"
                    alt="Recipe image"
                    class="flex-none w-36 rounded-lg"
                />
                <div class="flex gap-4 items-baseline flex-col md:flex-row">
                    <span
                        class="font-thin flex items-center justify-center text-4xl"
                        >Pancakes</span
                    >
                    <span
                        class="font-thin flex-1 flex items-center justify-center text-lg"
                        >by Maria</span
                    >
                </div>
            </div>
            <div class="flex justify-center items-center gap-3">
                <div class="flex flex-col justify-center gap-1 items-center">
                    <img
                        src="/svg/time.svg"
                        alt="Recipe image"
                        class="flex-none w-7 rounded-lg"
                    />
                    <span
                        class="font-thin flex items-center justify-center text-xl flex-none"
                        >15 min</span
                    >
                </div>
                <div
                    class="hidden md:flex flex-col justify-center gap-1 items-center"
                >
                    <span class="font-medium text-xl">Difficulty</span>
                    <span
                        class="font-thin flex-1 flex items-center justify-center text-xl"
                        >Easy</span
                    >
                </div>
            </div>
        </a>
    </div>
    <a
        href=""
        class="bg-white rounded-2xl h-48 flex sm:hidden items-center justify-between hover:shadow-xl transition-shadow duration-300 px-4 m-4 mx-1"
    >
        <img
            src="https://www.wholesomeyum.com/wp-content/uploads/2017/03/wholesomeyum-Low-Carb-Keto-Pancakes-Recipe-21.jpg"
            alt="Recipe image"
            class="flex-none w-36 rounded-lg"
        />
        <div
            class="my-1 ml-2 flex justify-between items-center gap-5 md:gap-10 w-fit truncate"
        >
            <div class="flex gap-2 items-baseline flex-col md:flex-row">
                <span
                    class="font-thin flex items-center justify-center text-2xl"
                >
                    Pancakefdafdasfsds
                </span>
                <span
                    class="font-thin flex-1 flex items-center justify-center text-lg"
                    >by Maria</span
                >
                <div class="flex justify-center gap-1 items-center">
                    <img
                        src="/svg/time.svg"
                        alt="Recipe image"
                        class="flex-none w-6"
                    />
                    <span
                        class="font-thin flex items-center justify-center text-xl flex-none"
                        >15 min</span
                    >
                </div>
            </div>
        </div>
    </a>
</div>
